# Database connection string
DATABASE_URI=postgres://buffetd:buffetd@127.0.0.1:5432/buffetd

# Used to encrypt JWT tokens
PAYLOAD_SECRET=YOUR_SECRET_HERE

# Used to configure CORS, format links and more. No trailing slash
NEXT_PUBLIC_SERVER_URL=http://127.0.0.1:3000

# Secret used to authenticate cron jobs
CRON_SECRET=YOUR_CRON_SECRET_HERE

# Used to validate preview requests
PREVIEW_SECRET=YOUR_SECRET_HERE
## Added by Payload

# Redis
UPSTASH_REDIS_REST_URL=http://127.0.0.1:8079
UPSTASH_REDIS_REST_TOKEN=YOUR_SECRET_HERE

# Email
SMTP_HOST=127.0.0.1
SMTP_PORT=1125
SMTP_USER=admin
SMTP_PASS=pass

# Admin account
ADMIN_EMAIL=zed@local.dev
ADMIN_PASSWD=localtest
