services:
  payload:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - '3000:3000'
    volumes:
      - uploads:/app/public/media
    env_file:
      - .env.prod
    depends_on:
      - postgres
      - redis
      - serverless-redis-http
      - mailhog

  postgres:
    image: postgres:17-alpine
    environment:
      POSTGRES_DB: buffetd
      POSTGRES_USER: buffetd
      POSTGRES_PASSWORD: buffetd # need to secure in production
    volumes:
      - postgres_data:/var/lib/postgresql/data

  serverless-redis-http:
    image: hiett/serverless-redis-http:latest
    ports:
      - '6479:80'
    environment:
      SRH_MODE: env
      SRH_TOKEN: f98a66dd772a147c32cff9934791edbda811425f
      SRH_CONNECTION_STRING: redis://redis:6379
    depends_on:
      - redis

  redis:
    image: redis:7-alpine

  mailhog:
    image: mailhog/mailhog:latest

volumes:
  uploads:
  postgres_data:
