name: buffetd-production

services:
  payload:
    build:
      context: ../..
      dockerfile: Dockerfile
    restart: unless-stopped
    ports:
      - '3000:3000'
    volumes:
      - uploads:/app/public/media
    env_file:
      - .env.migration
    depends_on:
      postgres:
        condition: service_healthy
      redis:
        condition: service_started
      serverless-redis-http:
        condition: service_started
      mailhog:
        condition: service_started

  migrator:
    build:
      context: ../..
      dockerfile: Dockerfile
      target: migrator
    restart: 'no'
    env_file:
      - .env.migration
    depends_on:
      postgres:
        condition: service_healthy

  postgres:
    image: postgres:17-alpine
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    healthcheck:
      test: ['CMD-SHELL', 'pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB} -h localhost']
      interval: 5s
      timeout: 3s
      retries: 20
      start_period: 10s
    volumes:
      - postgres_data:/var/lib/postgresql/data

  serverless-redis-http:
    image: hiett/serverless-redis-http:latest
    environment:
      SRH_MODE: env
      SRH_TOKEN: ${SRH_TOKEN}
      SRH_CONNECTION_STRING: redis://redis:6379
    depends_on:
      - redis

  redis:
    image: redis:7-alpine

  mailhog:
    image: mailhog/mailhog:latest

volumes:
  uploads:
  postgres_data:
