name: buffetd-production

services:
  app:
    image: buffetd/app:latest
    build:
      context: ../..
      dockerfile: docker/production/Dockerfile
    restart: unless-stopped
    ports:
      - '3000:3000'
    volumes:
      - uploads:/app/public/media

  migrator:
    image: buffetd/migrator:latest
    build:
      context: ../..
      dockerfile: docker/production/Dockerfile
      target: migrator
    restart: 'no'

volumes:
  uploads:
